        <div class="show__idea__list">
            <div class="show__idea__header">
                <h3>My Ideas</h3>
                <img src="../images/remove.png" width="22" alt="">
            </div>
            <div class="show__idea__content">
                <div class="content__idea__list">
                    <h3>Matutong magluto</h3>
                    <div class="idea__time">
                        <span>4:52 PM</span>
                    </div>
                </div>
            </div>
            <div class="add__idea">
                <a href="">Add new Idea</a>
            </div>
        </div>
        <div class="editor__container">
            <textarea id="textAreaContent" name="editor" cols="30" rows="10" class="ckeditor"></textarea>
            <div class="editor__container__button">
                <button type="button" onclick="showContent()">Save</button>
            </div>
        </div>