<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MyNote</title>
    <link rel="stylesheet" href="../assets/main.component.css" />
    <link rel="stylesheet" href="../assets/showList.component.css" />
    <link rel="stylesheet" href="../assets/list.component.css" />
    <link rel="stylesheet" href="../assets/ideasList.component.css" />
    <link
      rel="stylesheet"
      href="../node_modules/material-design-icons/iconfont/material-icons.css"
    />
    <script src="../assets/ckeditor/ckeditor.js"></script>
    <script src="../controller/controller.js"></script>
    <script src="../controller/Ideacontroller.js"></script>
    <script src="../controller/archiveController.js"></script>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
      integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <style>
      .loading {
        animation: fadein 1s;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
      }

      .bgloading {
        z-index: 100;
        background-color: rgb(255, 255, 255);
        position: absolute;
        width: 100%;
        height: 100vh;
      }

      @keyframes fadein {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
    </style>
    <script>
      // window.addEventListener("load", function () {
      //   setTimeout(function () {
      //     var loadscreme = document.getElementById("loading_screen");
      //     document.body.removeChild(loadscreme);
      //   }, 1000);
      // });
    </script>
  </head>
  <body>
    <!-- <div class="bgloading" id="loading_screen">
      <div class="loading">
        <img src="../assets/images/loading.gif" />
      </div>
    </div> -->
    <div class="container">
      <%- include("./sidebar.component.ejs") -%> <% if(tabKey == "note"){ %> <%-
      include("./notetab.component.ejs") -%> <% }else if(tabKey == "idea"){ %>
      <%- include("./ideatab.component.ejs") -%> <% } else if(tabKey ==
      "archive"){ %><%- include("./archive.component.ejs") -%><% } %>
    </div>
  </body>
</html>
