<div class="side__panel">
  <div class="side__panel__header">
    <span>My Note</span>
  </div>
  <div class="side__panel__options">
    <a href="/note"
      ><li class="note__option">
        <img src="../images/note.png" width="22" alt="" /> <span>Note</span>
      </li></a
    >
    <a href="/idea"
      ><li class="ideas__option">
        <img src="../images/ideas.png" width="22" alt="" /> <span>Ideas</span>
      </li></a
    >
    <a href="/archive"
      ><li class="archive__option">
        <img src="../images/ideas.png" width="22" alt="" /> <span>Archive</span>
      </li></a
    >
  </div>
  <div class="side__panel_user">
    <div class="user__container">
      <span class="material-icons md-48 user_bgcolor"> person_outline </span>
      <span class="user__name"> Welcome <%=userName %> </span>
    </div>
  </div>
</div>
