
<!DOCTYPE html>
<html>
<head>
	<title>Welcome User</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="./css/loginsignup.css">
  <link rel="stylesheet" type="text/css" href="./css/responsive.css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800&display=swap" rel="stylesheet">
  <script src="../controller/loginController.js"></script>

</head>
<body>
  <div class="cont">
    <div class="form sign-in">
      <h2>Sign In</h2>
      <label>
        <span>Email Address</span>
        <input type="email" name="email" id="loginEmail">
      </label>
      <label>
        <span>Password</span>
        <input type="password" name="password" id="loginPassword">
      </label>
      <button class="submit" type="button" onclick="loginAuth()">Sign In</button>
      <p class="forgot-pass">Forgot Password ?</p>
      <a href="#form sign-up" class="register"><p>REGISTER</p></a>

      <div class="social-media">
        <ul>
          <li><img src="images/facebook.png"></li>
          <li><img src="images/twitter.png"></li>
          <li><img src="images/linkedin.png"></li>
          <li><img src="images/instagram.png"></li>
        </ul>
      </div>
    </div>

    <div class="sub-cont">

      <div class="img">
        <div class="img-text m-up">
          <h2>New here?</h2>
          <p>Sign up and change your life.
            <br>"NOTED keeping you organize."</p>
        </div>

        <div class="img-text m-in">
          <h2>One of us?</h2>
          <p>You're back! We've missed you! Let's get you sign in.</p>
        </div>

        <div class="img-btn">
          <span class="m-up">Sign Up</span>
          <span class="m-in">Sign In</span>
        </div>

      </div>

      <section class="form sign-up" id="form sign-up">

      <div class="form sign-up" id="form sign-up">

        <h2>Sign Up</h2>
        <label>
          <span>Name</span>
          <input type="text" id="name">
        </label>

        <label>
          <span>Email</span>
          <input type="email" id="email">
        </label>

        <label>
          <span>Password</span>
          <input type="password" id="password">
        </label>

        <label>
          <span>Confirm Password</span>
          <input type="password" id="confirmpassword">
        </label>

        <button type="button" class="submit">Register</button>

      </div>
      </section>
      
    </div>
  </div>
        <script type="text/javascript" src="./js/script.js"></script>
</body>
</html>