

html, body{  
    padding: 0%; 
    height: 100%; 
    margin: 0%;
    background-color: rgb(168, 255, 168);
}
.grid{
    height: 100%;
    display: grid;
    grid-template-columns: 65% 1fr;
    grid-template-areas: 
    "banner creds";
}
.banner{
    height: 100%;
    grid-area: banner;
    /*background-color: #ec625f;*/
}
.display-1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-80%, -50%);
    color: rgb(238, 238, 238);
    text-shadow: 2px 2px 6px #000000;
    font-weight: 1000 !important;
    font-family: 'Advent Pro' !important;
    user-select: none;
}
.bannerPic{
    width: 100%;
    height: 100%;
    filter: brightness(50%)
}
.logo{
    width: 35%;
    margin: 5% 10% 0% 34%;
}
.logInCreds{
    grid-area: creds;
    height: 100%;
    background-color: #222222;
}
input,button{
    justify-content: center;
    width: 100%;
}
.inputFields{
    margin: 5% 5% 5% 5%;
}
.tweetLogo, .faceLogo, .igLogo, .GitLogo{
    width: 10%;
    margin: 2% 5% 2% 9%;
}
.links{
    background-color: #222222;
    max-height: 100%;
}
a{
    text-decoration: none !important;
}
hr.hr1{
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgb(78, 78, 78);
}