@media screen and (max-width: 800px) {
  body {
    height: 100%;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
    overflow-y: hidden;
  }
  .grid {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30% 1fr;
    grid-template-areas:
      "banner"
      "creds";
  }
  .display-1 {
    display: none;
  }
  .logo {
    width: 35%;
    margin: 5% 10% 0% 34%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-140%, -240%);
  }
}
